
@import url(https://fonts.googleapis.com/css?family=Arimo);


.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;

  height: 0;

  content: "";

  font-size: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  background: #222;

  font-family: 'Arimo', sans-serif;
}

#wrapper {
  width: 260px;
  margin: 20px auto;
  padding: 0 8px 10px;

  border: 1px solid #141414;
  border-radius: 5px;
  background: #1f1f1f;
}

main {
  width: 240px;
  margin: auto;
  padding: 0;

  background: #141212;
}

#screen {
  width: 240px;
  margin: 15px 0 2px 0;
  padding: 10px 10px;

  text-align: right;

  border-radius: 4px;
  background: white;

  font-size: 3em;
}

button {
  float: left;

  width: 60px;
  height: 60px;

  color: #AAA;
  border: 1px solid #1f1f1f;
  border-radius: 3px;
  outline: none;
  background: #3e3e3e;

  font-size: 1.2em;
}
button:hover {
  background: #424242;
}
button.blue {
  color: black;
  background: #007191;
}
button.darker {
  color: #BBB;
  background: #2b2b2b;
}
button.active {
  border: 3px solid #555;
}
button.dimmed {
  color: #555 !important;
}

.btn-wide {
  width: 120px !important;
  height: 60px !important;
}
